---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Contact Me">
  <section aria-labelledby="contact">
    <div class="wrapper-contents contact">
      <h1 id="contact">Contact Me.</h1>
      <p>
        I'm open to discussing web development projects or partnership
        opportunities.
        <br>
        Send me email if you would like to contact me.
      </p>
      <div class="contact__email">
        <img
          src="/gmail.svg"
          alt="Gmail"
          width="20"
          height="20"
          title="Gmail"
          loading="lazy"
          decoding="async"
        />
        <p>Email :</p>
        <a href="mailto:miiko.prn@gmail.com" class="link">miiko.prn@gmail.com</a
        >
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .contact {
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    gap: var(--clamp-base);
    min-height: calc(90dvh - var(--clamp-5-xl));
  }

  .contact__email {
    display: flex;
    align-items: center;
    gap: var(--size-x-small);
  }
</style>
