---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Miko - Contact Me">
  <section aria-labelledby="contact">
    <div class="wrapper-contents contact">
      <h2 id="contact" class="h1">Contact Me.</h2>
      <p class="contact__description">
        I'm open to discussing web development projects or partnership
        opportunities.
        <br />
        My inbox always open, whether you have question or just send hi, i'll try
        my best to get back to you.
        <br />
        Feel free to reach out!
      </p>
      <div class="contact__email">
        <img
          src="/gmail.svg"
          alt="Gmail"
          width="20"
          height="20"
          title="Gmail"
          loading="lazy"
          decoding="async"
        />
        <p>Email :</p>
        <a href="mailto:miko.devxyz@gmail.com" class="link"
          >miko.devxyz@gmail.com</a
        >
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .contact {
    max-width: 37.5rem;
    height: 79dvh;
    margin-inline: auto;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    gap: var(--clamp-base);
  }

 /* 1024px */
  @media (max-width: 64em) {
    .contact {
      height: 77dvh;
    }
  }

  /* 425px */
  @media (max-width: 26.563em) {
    .contact {
      height: 72dvh;
    }
  }
</style>
