---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Web design">
  <section aria-labelledby="design">
    <div class="wrapper-contents design">
      <h2 class="h1" id="design">Coming Soon...</h2>
    </div>
  </section>
</MainLayout>
