---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Web design">
  <section aria-labelledby="design">
    <div class="wrapper-contents design">
      <h2 class="h1" id="design">Coming Soon...</h2>
    </div>
  </section>
</MainLayout>

<style>
  .design {
    min-height: calc(91dvh - var(--clamp-5-xl));
    display: grid;
    place-content: center;
    place-items: center;
  }

  @media (max-width: 23.438em) {
    .design {
      min-height: calc(81dvh - var(--clamp-5-xl));
    }
  }
</style>
