---
import clamp from "../assets/clamp-generator.webp";
import typescale from "../assets/typescale.webp";
import figmasite from "../assets/figma-website.webp";
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Miko - Web design">
  <section aria-labelledby="design">
    <div class="wrapper-contents article__contents-wrapper">
      <h2 class="h1 heading-primary" id="design">Inspiration for designing a website</h2>
      <article class="article__content">
        <Image src={figmasite} alt="Figma website" class="article__img" />
        <aside class="article__description">
          <h3>Figma - Interface Design Tool</h3>
          <p>
            Figma Design is popular tool to create, share, and test designs for
            websites, mobile apps, and other digital products and experiences.
          </p>
          <div class="article__links">
            <a
              href="https://www.figma.com/"
              target="_blank"
              class="button button-primary">View Source</a
            >
          </div>
        </aside>
      </article>
      <article class="article__content">
        <Image src={typescale} alt="Typescale" class="article__img" />
        <aside class="article__description">
          <h3>Typescale - font size & typography</h3>
          <p>
            Create stunning typography, generate CSS, and find inspiration for
            font family and font sizing.
          </p>
          <div class="article__links">
            <a
              href="https://typescale.com/"
              target="_blank"
              class="button button-primary">View Source</a
            >
          </div>
        </aside>
      </article>
      <article class="article__content">
        <Image
          src={clamp}
          alt="Font size clamp generator"
          class="article__img"
        />
        <aside class="article__description">
          <h3>Font-size Clamp Generator</h3>
          <p>
            Generate linearly scale font-size with clamp(), for responsive
            typography and sizing.
          </p>
          <div class="article__links">
            <a
              href="https://clamp.font-size.app/"
              target="_blank"
              class="button button-primary">View Source</a
            >
          </div>
        </aside>
      </article>
    </div>
  </section>
</MainLayout>
