---
import typescale from "../assets/typescale.webp";
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Web design">
  <section aria-labelledby="design">
    <div class="wrapper-contents article__contents-wrapper">
      <h2 class="h1" id="design">Inspiration for designing a website</h2>
      <article class="article__content">
        <Image
          src={typescale}
          alt="Wireframe template website"
          class="article__img"
        />
        <aside class="article__description">
          <h3>Typescale - font size & typography</h3>
          <p>
            Typescale - Create stunning typography, generate CSS, and find
            inspiration.
          </p>
          <div class="article__links">
            <a
              href="https://typescale.com/"
              target="_blank"
              class="button button-primary">View Source</a
            >
          </div>
        </aside>
      </article>
    </div>
  </section>
</MainLayout>
