---
---

<footer>
  <div class="wrapper-primary footer">
    <a href="https://github.com/mikoprn" target="_blank" class="link"
      ><img
        src="/github-white.svg"
        alt="Github"
        width="24"
        height="24"
        title="Github"
        loading="lazy"
        decoding="async"
      />
    </a>
    <br />
    <div class="footer__extra">
      <small>2025 - Present</small>
      <small>| All right reserved | Made by :</small>
      <a href="/" class="nav__logo" title="Back to Home"
        >Miik<img src="/smile.svg" alt="logo img" />
      </a>
    </div>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-small-l);
    padding-block: 0.75em;
    border-top: var(--border-dark);
  }

  .footer__extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--size-x-small);
  }

  .nav__logo {
    font-size: var(--size-base);
    font-weight: var(--fw-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link-color);
  }

  .nav__logo img {
    width: var(--clamp-base);
    height: var(--clamp-base);
  }

  @media (max-width: 43.75em) {
    .footer {
      justify-content: center;
    }
  }
</style>
